:host{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1rem;
}


main {
    max-height: 700px;
    color-scheme: dark;
    border: var(--subtle-border);
    border-radius: 15px;
    & p{
        font-size: clamp(1.5rem, 3vw, 8rem);
        font-weight: bold;
        text-wrap: balance;
        width: fit-content;
        max-width: 50%;
        .stroke{
            font-style: italic;
            color: transparent;
            -webkit-text-stroke: 2px var(--primary);
        }
        .gradient{
            -webkit-text-fill-color: transparent;
            background-image: var(--main-gradient);
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}

.inputwrapper{    
    min-width: 425px;
    max-width: 550px;
    & input{
        background-color: var(--background) !important;
        border: var(--subtle-border);
        color: var(--text);
        transition: 150ms ease;
        z-index: 5;
        &::placeholder{
            color: var(--text);}

        &:focus{
            box-shadow: 0 0 20px var(--primary) !important;
            color: var(--text);
        }
    }

    & button{
        color: var(--background);
        padding: 6px 24px;
        background-color: var(--primary);
        border: var(--subtle-border);
        border-radius: 99px;
        transition: border 0s;
        transition: var(--qck-transition);
        box-sizing: border-box;
        &:hover{
            background-color: var(--primary);
            color: var(--secondary);

            transform: translateY(-2px);
            box-shadow: 0 10px 50px -10px var(--primary);
        }
    
    }
}

@media screen and (max-width: 1024px) {
    main{
       flex-direction: column;

         & p{
            min-width: 100%;
              
         }

         & .inputwrapper{
             min-width: 100%;
             padding: 0 !important;
         }
    }
}

@media screen and (max-width: 576px) {
    main{
        border: none;
        padding: 0.5rem !important;
        margin: 0 !important;
        border-radius: 0;
        
         & p{
              max-width: 100%;
              text-align: center;
              text-wrap: pretty;
         }
         #date{
            display: block;
         }
         .inputwrapper{
            padding: 0;
         }
    }
}