<app-header></app-header>



<main class="mx-5 mb-3 p-5 h-100 d-flex justify-content-center gap-1 align-items-center outline-hov">

  <p *ngIf="id > 0 " class="align-self-center">You are currently <span class="gradient">editing</span> the user with the id:<span class="stroke">{{id}}</span>.</p>
  <p *ngIf="id < 0 ">You are <span class="gradient">inserting</span> a new customer.</p>
  
  

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)" accept-charset="UTF-8" role="form"
  class="inputwrapper w-50 row p-4">

  <div class="px-0 pe-1 col-12 mb-3 col-sm-6">
    <label class="form-label" for="floatingInput">Name</label>
    <input type="name" class="form-control" placeholder="Username" name="name" type="name" formControlName="name">

    <div class="warning-message">
      <div *ngIf="customerForm.get('name')?.invalid && (customerForm.get('name')?.dirty || customerForm.get('name')?.touched)">

        <div class="text-danger" *ngIf="customerForm.get('name')?.errors?.['required']">
          A username is required.
        </div>

        <div class="text-danger" *ngIf="customerForm.get('name')?.errors?.['minlength']">
          The username has to be at least 4 characters long.
        </div>
      </div>
    </div> 
  </div>
  
  <div class="px-0 ps-1 col-12 mb-2 col-sm-6">
    <label class="form-label" for="floatingPassword">Date of Birth</label>
    <input class="form-control"id="date" placeholder="Email" name="dateOfBirth" type="date" formControlName="dateOfBirth" value="">


    <div class="warning-message">
      <div
        *ngIf="customerForm.get('dateOfBirth')?.invalid && (customerForm.get('dateOfBirth')?.dirty || customerForm.get('dateOfBirth')?.touched)">
        <div class="text-danger" *ngIf="customerForm.get('dateOfBirth')?.errors?.['required']">
          A dateOfBirth is required.
        </div>
        
      </div>
    </div>
  </div>

  <div class="px-0 mb-2">
    <label class="form-label" for="floatingEmail">Email</label>
    <input class="form-control" placeholder="Email" name="email" type="email" formControlName="email" value="">


    <div class="warning-message">
      <div
        *ngIf="customerForm.get('email')?.invalid && (customerForm.get('email')?.dirty || customerForm.get('email')?.touched)">
        <div class="text-danger" *ngIf="customerForm.get('email')?.errors?.['required']">
          A email is required.
        </div>
        <div class="text-danger" *ngIf="customerForm.get('email')?.errors?.['minlength']">
          The email has to be at least 4 characters long.
        </div>
      </div>
    </div>
  </div>
  
  <div class="px-0 formsubmit  d-flex justify-content-end">
    <button type="submit" [disabled]="!customerForm.valid" class="my-3">Submit</button>
  </div>
</form>
</main>


<app-footer></app-footer>  