:host{
    height: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    /* & app-customer-edit, app-customer-list{
        flex: 1;
        margin-bottom: 1rem;
        max-height: 700px;
    } */
}