<app-header></app-header>
<main class="mx-5 mb-3 p-5 h-100 d-flex flex-column  gap-1 align-items-center outline-hov">
<div class="container p-0">
    <header class=" d-flex justify-content-between align-items-center">
      
        <h2 class="m-0">Customers </h2>
      
     
        <button type="button" (click)="goToCustomerEdit(-1)" >Add <i class="fa-solid fa-circle-plus"></i>
        </button>
      
    </header>
  
  </div>
  
  <div class="container tablecont p-0">
    <table class="table table-striped table- p-5">
      <thead class="bg-black">
        <th>Id</th>
        <th>Name</th>  
        <th>Date of Birth</th>
        <th class="d-none d-sm-table-cell">Email</th>
        <th>Actions</th>
      </thead>
  
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.dateOfBirth | date: "dd/MM/yyyy" : 'UTC' }}</td>
          <td class="d-none d-sm-table-cell">{{customer.email}}</td>
          <td class="d-flex justify-content-end">
            <button class="btn btn-secondary me-1" (click)="goToCustomerEdit(customer.id)" ><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#customerModal" (click)="openModalConfirmDelete(customer.id)"><i class="fa-regular fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>
  
    </table>
    <div class="text-center mt-4" *ngIf="customers.length == 0">No costumer are registered or there is no LocalStorage :]</div>
  

  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="customerModalLabel">Excluir usuário.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          Você tem certeza que deseja excluir o usuário {{customerIdSelectedToDelete}} ?
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteCustomer()" data-bs-dismiss="modal">Exclui essa nojeira</button>
        </div>
      </div>
    </div>
  </div>
  
</main>
<app-footer></app-footer>  